<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5443583994127030"
    crossorigin="anonymous"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PR9BHV5V50"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-PR9BHV5V50');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Lookup-Now 🚀</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta name="description" content="Lookup-Now is a simple tool to explore domains and discover hosting providers.">
  <meta name="keywords" content="lookup, domain, hosting, whois, ip, isp, city, region, country, latitude, longitude">
  <meta name="author" content="Devsecure Innovations">
  <meta name="robots" content="index, follow">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
 body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f2f5; /* Softer, modern background */
    margin: 0;
    padding: 20px;
    color: #333333; /* Dark gray for better readability */
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Softer, modern shadow */
}

h1, h2 {
    text-align: center;
    color: #0056b3; /* Darker blue for titles */
    font-size: 2em;
    animation: fadeIn 0.5s;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Flex-wrap for better mobile responsiveness */
    margin-bottom: 20px;
    animation: slideIn 0.5s;
}

input[type="text"], textarea {
    padding: 15px;
    border: 1px solid #cccccc; /* Softer gray border */
    border-radius: 6px;
    width: 100%;
    margin-bottom: 15px;
    transition: border-color 0.3s;
    background-color: #ffffff;
    color: #333333;
    box-sizing: border-box; /* Ensure padding and border are included in the total width */
}

input[type="text"]:focus, textarea:focus {
    border-color: #0056b3; /* Blue border on focus */
    outline: none;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    background-color: #007BFF; /* Consistent blue for buttons */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 10px;
    margin-top: 5px;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05);
}

#result-area, #whois-area, #history-area {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9; /* Softer background for result areas */
    color: #333333; /* Dark gray text for readability */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); /* Light shadow */
    animation: fadeIn 0.5s;
}

.loader {
    display: none;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;
}

.error-message {
    color: #ff6b6b;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.hidden {
    display: none;
}

/* Animations */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* Media Query for responsiveness */
@media (max-width: 600px) {
    form {
        flex-direction: column; /* Stack form fields on smaller screens */
    }

    input[type="text"], textarea, button {
        width: 100%;
        margin: 5px 0;
    }
}

</style>
</head>

<body>
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  <div class="container">
    <h1>Lookup Now 🔍</h1>
    <h2>Explore Domains, Discover Hosting—All in One Click! 🚀</h2>
    <form id="lookup-form">
      <input type="text" id="domain_input" placeholder="Enter domain name..." required>
      <button type="button" id="domain_lookup_btn">Domain Lookup</button>
      <button type="button" id="hosting_lookup_btn">Hosting Lookup</button>
    </form>
    <p id="error-message" class="error-message hidden">Please enter a domain name.</p>

    <div class="loader" id="loader"></div>

    <div id="whois-area" style="display: none;">
      <h3>WHOIS Information 📄</h3>
      <pre id="res-whois-json" style="white-space: pre-wrap;"></pre>
      <button id="share-whois-btn">Share WHOIS Info 📤</button>
      <div style="text-align: center; margin-top: 10px;">
        <p style="color: #666;">Powered by WHOIS</p>
        <img src="https://www.whois.com/images/logo.svg" alt="WHOIS Logo" style="height: 30px; margin-top: 5px;">
      </div>
    </div>

    <div id="result-area" style="display: none;">
      <h3 id="hosting-message"></h3>
      <div id="hosting-image"></div>
      <p><strong>IP:</strong> <span id="res-i-ip"></span></p>
      <p><strong>IP Type:</strong> <span id="res-i-iptype"></span></p>
      <p><strong>ISP:</strong> <span id="res-i-isp"></span></p>
      <p><strong>City:</strong> <span id="res-i-city"></span></p>
      <p><strong>Region:</strong> <span id="res-i-region"></span></p>
      <p><strong>Country:</strong> <span id="res-i-country"></span></p>
      <p><strong>Longitude:</strong> <span id="res-i-longitude"></span></p>
      <p><strong>Latitude:</strong> <span id="res-i-latitude"></span></p>
      <button id="share-hosting-btn">Share Hosting Info 📤</button>
    </div>

    <div id="history-area" style="display: none;">
      <h3>Search History 🕒</h3>
      <ul id="history-list"></ul>
    </div>

    <footer style="background-color: #3f3e3e; padding: 20px; text-align: center; color: white;">
      <div style="margin-bottom: 20px;">
          <button style="background-color: #00a6ff; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; margin-right: 10px;">
              <a href="https://buymeacoffee.com/sensurajit" style="color: white; text-decoration: none;">Coffee..?</a>
          </button>
          <button style="background-color: #28a745; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">
              <a href="/contact" style="color: white; text-decoration: none;">Contact Us</a>
          </button>
      </div>
  
      <p>Developed with ❤️ by <a href="https://surajitsen.me/" style="color: #007BFF;">Surajit Sen</a></p>
      <p>&copy; 2024 Lookup-Now 🚀. All rights reserved.</p>
  
      <div style="margin: 20px 0;">
          <a href="https://www.linkedin.com/in/getsensurajit" target="_blank" style="margin-right: 15px;">
              <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width: 32px; height: 32px;">
          </a>
          <a href="https://github.com/blackXploit-404" target="_blank" style="margin-right: 15px;">
              <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width: 32px; height: 32px;">
          </a>
          <a href="https://twitter.com/getsensurajit" target="_blank" style="margin-right: 15px;">
              <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter" style="width: 32px; height: 32px;">
          </a>
      </div>
  
      <p><b>Powered by <a href="https://render.com/" style="color: #007BFF;">Render</a></b></p>
      <img src="https://pbs.twimg.com/profile_images/1735429515541938176/zOO1N7Su_400x400.jpg" alt="render" style="width: 50px; height: 50px; margin-top: 10px; border-radius: 50%;">
  </footer>
  
  

  </div>

  <script>
    const historyList = JSON.parse(localStorage.getItem('searchHistory')) || [];

    function showError(message) {
      $("#error-message").text(message).removeClass("hidden");
    }

    function hideError() {
      $("#error-message").addClass("hidden");
    }

    function updateHistory() {
      $("#history-list").empty();
      historyList.forEach((entry, index) => {
        $("#history-list").append(`<li>${entry} <button class="remove-history-btn" data-index="${index}">Remove</button></li>`);
      });
      $("#history-area").toggle(historyList.length > 0);
      localStorage.setItem('searchHistory', JSON.stringify(historyList));
    }

    async function fetchWhois(domain) {
      try {
        showLoader();
        const response = await $.get(`/whois?domain=${domain}`);
        $("#res-whois-json").text(JSON.stringify(response, null, 2));
        $("#whois-area").show();
        $("#result-area").hide();
      } catch (error) {
        alert('Error fetching WHOIS data');
        $("#whois-area").hide();
      } finally {
        hideLoader();
      }
    }

    async function hostingLookup(domain) {
      try {
        showLoader();
        const data = await $.get(`https://ipwhois.app/json/${domain}`);
        const hostingProvider = data.isp || 'N/A';
        $("#hosting-message").text(`${domain} is hosted on ${hostingProvider} 🎉`);

        const hostingImageMap = {
          "Google LLC": "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png",
          "Microsoft Corporation": "https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg",
          "Amazon.com, Inc.": "https://upload.wikimedia.org/wikipedia/commons/6/62/Amazon.com-Logo.svg",
          "Cloudflare, Inc.": "https://www.cloudflare.com/img/logo-cloudflare-dark.svg",
          "DigitalOcean, LLC": "https://www.digitalocean.com/assets/media/logos-badges/DO_Logo_horizontal_blue.svg",
          "OVH SAS": "https://www.ovh.com/fr/images/logos/ovh-logo.png",
          "GoDaddy.com, LLC": "https://upload.wikimedia.org/wikipedia/commons/1/1a/GoDaddy_logo.png",
          "Shopify, Inc.": "https://upload.wikimedia.org/wikipedia/commons/0/0c/Shopify_logo_2018.svg",
          "Squarespace, Inc.": "https://upload.wikimedia.org/wikipedia/commons/1/1d/Squarespace-logo.png",
          "Wix.com Ltd.": "https://upload.wikimedia.org/wikipedia/commons/7/7e/Wix.com_website_logo.png",
          "Automattic, Inc.": "https://upload.wikimedia.org/wikipedia/commons/9/91/Automattic_logo.png",
          "Namecheap, Inc.": "https://upload.wikimedia.org/wikipedia/commons/4/4e/Namecheap_logo.png",
          "HostGator.com LLC": "https://upload.wikimedia.org/wikipedia/commons/6/6e/HostGator_logo.png",
          "Bluehost Inc.": "https://upload.wikimedia.org/wikipedia/commons/9/9e/Bluehost_logo.png",
          "DreamHost, LLC": "https://upload.wikimedia.org/wikipedia/commons/7/7e/DreamHost_logo.png",
          "InMotion Hosting, Inc.": "https://upload.wikimedia.org/wikipedia/commons/4/4b/InMotion_Hosting_logo.png",
          "SiteGround Hosting Ltd.": "https://upload.wikimedia.org/wikipedia/commons/4/4b/SiteGround_logo.png",
          "A2 Hosting, Inc.": "https://upload.wikimedia.org/wikipedia/commons/4/4b/A2_Hosting_logo.png",
          "Kinsta Inc.": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Kinsta_logo.png",
          "Liquid Web, L.L.C": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Liquid_Web_logo.png",
          "Hostinger International Ltd.": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Hostinger_logo.png",
          "IONOS by 1&1": "https://upload.wikimedia.org/wikipedia/commons/4/4b/IONOS_logo.png",
          "HostPapa Inc.": "https://upload.wikimedia.org/wikipedia/commons/4/4b/HostPapa_logo.png",
          "GreenGeeks LLC": "https://upload.wikimedia.org/wikipedia/commons/4/4b/GreenGeeks_logo.png",
          "Scala Hosting LLC": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Scala_Hosting_logo.png",
          "TMDHosting LLC": "https://upload.wikimedia.org/wikipedia/commons/4/4b/TMDHosting_logo.png",
          "InterNetX GmbH": "https://upload.wikimedia.org/wikipedia/commons/4/4b/InterNetX_logo.png",
          "FastComet Inc.": "https://upload.wikimedia.org/wikipedia/commons/4/4b/FastComet_logo.png",
          "Hostwinds LLC": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Hostwinds_logo.png",
          "MilesWeb Internet Services Pvt Ltd": "https://upload.wikimedia.org/wikipedia/commons/4/4b/MilesWeb_logo.png",
          "Contabo GmbH": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Contabo_logo.png",
          "Hostens UAB": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Hostens_logo.png",
          "HostArmada LLC": "https://upload.wikimedia.org/wikipedia/commons/4/4b/HostArmada_logo.png",
          "Hostiso Ltd.": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Hostiso_logo.png",
          "HostUpon Inc.": "https://upload.wikimedia.org/wikipedia/commons/4/4b/HostUpon_logo.png",
          "Hostiso Ltd.": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Hostiso_logo.png",
          "HostUpon Inc.": "https://upload.wikimedia.org/wikipedia/commons/4/4b/HostUpon_logo.png",
          "Hostiso Ltd.": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Hostiso_logo.png",
          "facebook": "https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg",
          "Twitter": "https://upload.wikimedia.org/wikipedia/en/6/60/Twitter_Logo_as_of_2021.svg",
          "Instagram": "https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png",
          "LinkedIn": "https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png",
          "Pinterest": "https://upload.wikimedia.org/wikipedia/commons/3/3d/Pinterest_Logo.png",
          "unifiedlayer.com": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Bluehost_logo.png",
          "1&1 IONOS SE": "https://upload.wikimedia.org/wikipedia/commons/4/4b/IONOS_logo.png",
          "akamai.com": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Akamai_logo.png",
          
        };
        
        const hostingImage = hostingImageMap[hostingProvider] || 'https://via.placeholder.com/150';
        $("#hosting-image").html(`<img src="${hostingImage}" alt="${hostingProvider} Logo" style="max-width: 100%; height: auto;">`);

        $("#res-i-ip").text(data.ip);
        $("#res-i-iptype").text(data.type);
        $("#res-i-isp").text(data.isp);
        $("#res-i-city").text(data.city);
        $("#res-i-region").text(data.region);
        $("#res-i-country").text(data.country);
        $("#res-i-longitude").text(data.longitude);
        $("#res-i-latitude").text(data.latitude);

        $("#result-area").show();
        $("#whois-area").hide();
        updateHistory(); // Update the search history
      } catch (error) {
        alert('Error fetching hosting data');
        $("#result-area").hide();
      } finally {
        hideLoader();
      }
    }

    function showLoader() {
      $("#loader").show();
    }

    function hideLoader() {
      $("#loader").hide();
    }

    $(document).ready(function () {

      updateHistory();

      $("#domain_lookup_btn").click(async function () {
        const domain = $("#domain_input").val().trim();
        if (!domain) {
          showError("Please enter a domain name.");
          return;
        }
        hideError();
        fetchWhois(domain);
      });

      $("#hosting_lookup_btn").click(async function () {
        const domain = $("#domain_input").val().trim();
        if (!domain) {
          showError("Please enter a domain name.");
          return;
        }
        hideError();
        if (!historyList.includes(domain)) {
          historyList.push(domain);
          updateHistory();
        }
        hostingLookup(domain);
      });

      $(document).on("click", ".remove-history-btn", function () {
        const index = $(this).data("index");
        historyList.splice(index, 1);
        updateHistory();
      });

      // Clipboard functionality for WHOIS Info
      $("#share-whois-btn").click(function () {
        const whoisData = $("#res-whois-json").text();
        navigator.clipboard.writeText(whoisData)
          .then(() => {
            alert('WHOIS info copied to clipboard!');
          })
          .catch(err => {
            alert('Failed to copy WHOIS info.');
          });
      });

      // Clipboard functionality for Hosting Info
      $("#share-hosting-btn").click(function () {
        const hostingInfo = `
          Domain: ${$("#hosting-message").text()}
          IP: ${$("#res-i-ip").text()}
          IP Type: ${$("#res-i-iptype").text()}
          ISP: ${$("#res-i-isp").text()}
          City: ${$("#res-i-city").text()}
          Region: ${$("#res-i-region").text()}
          Country: ${$("#res-i-country").text()}
          Longitude: ${$("#res-i-longitude").text()}
          Latitude: ${$("#res-i-latitude").text()}
        `;
        navigator.clipboard.writeText(hostingInfo)
          .then(() => {
            alert('Hosting info copied to clipboard!');
          })
          .catch(err => {
            alert('Failed to copy hosting info.');
          });
      });

    });
  </script>
</body>

</html>